<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="emailList" type="AppConfigTest.EmailListSection, AppConfigTest" />
	</configSections>

	<emailList>
		<emailSetting address="project1@hotmail.com" displayName="project1" />
		<emailSetting address="project2@hotmail.com" displayName="project2" />
		<emailSetting address="project3@hotmail.com" displayName="project3" />
	</emailList>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>